spring:
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  liquibase:
    contexts: local

logging:
  level:
    com.payment: DEBUG
    org.springframework.transaction: DEBUG
